@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Saira+Condensed:wght@300&family=Rajdhani:wght@300&display=swap");

// variables
$main-color: #edeef7;
$side-color: #7868e6;
$light-purple: #d7d2f8;
$light-color: #ffff;
$task-name-color: #f6f6f6;
$bar: $light-color;
$todo: $side-color;
$danger: #e7305b;
$success: #61b15a;
$low: #2978b5;
$warning: #f57b51;
$clear: #07689f;
$add: #428b46;
$notepad: #ffe268;
$main-font: "Saira Condensed", sans-serif;
$time-font: "Rajdhani", sans-serif;
$task-font: "Nunito", sans-serif;
$side-width: 22%;
$main-width: 100%;
$todo-width: 100%;
$timing: cubic-bezier(0.39, 0.97, 0, 0.97);
// variables-end

// functions
@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
// functions-end
body,
html {
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 0;
  position: relative;
}

div {
  box-sizing: border-box;
}

#app,
.pseudo-cont,
.container {
  @include flex(stretch, stretch);
  height: 100%;
  width: 100%;
  position: relative !important;
  overflow-y: hidden;
}
.main {
  background: $main-color;
  width: $main-width;
  box-sizing: border-box;
  font-family: $task-font;
  min-height: 90vh;
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 20px 0;
  padding: 50px 0;
  .sort-container {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: end;
    height: 35px;
    .sort-col {
      display: inline-block;
      height: 100%;
      font-size: 1.2rem;
      font-family: inherit;
      vertical-align: middle;
      color: $side-color;
      position: relative;
      margin-left: 10px;
      span {
        font-size: 25px;
        border-radius: 50%;
        background: $light-purple;
        padding: 3px;
        vertical-align: middle;
        text-align: center;
        box-sizing: border-box;
      }
      span.sort {
        height: 35px;
        width: 35px;
        margin: 0;
        border-radius: 100px 0 0 100px !important;
        position: absolute;
        left: -30px;
      }
      select {
        height: inherit;
        width: 110px;
        font-size: inherit;
        font-family: inherit;
        outline: none;
        border: none;
        background: $light-purple;
        border-radius: 0 100px 100px 0;
        padding: 5px;
        color: $side-color;
        &:required:invalid {
          color: rgb(126, 126, 126) !important;
        }
      }
      option {
        background: $main-color;
        font-size: inherit;
        font-family: inherit;
        color: $side-color;
        &[value=""][disabled] {
          display: none;
        }
      }
      input[type="checkbox"] {
        height: 30px;
        width: 30px;
        box-sizing: border-box;
        opacity: 0;
        cursor: pointer;
        position: relative;
        z-index: 3;
        &:checked ~ span.arrow {
          transform: rotate(180deg);
        }
        &:checked ~ span.arrow:before {
          content: "D";
          position: absolute;
          top: 12px;
          right: 5px;
          color: inherit;
          transform: rotate(0deg) scaleX(-1);
          font-size: 12px;
          font-weight: bold;
        }
        &:not(:checked) ~ span.arrow:after {
          content: "A";
          position: absolute;
          top: 11px;
          left: 5px;
          color: inherit;
          transform: rotate(0deg) scaleX(-1);
          font-size: 12px;
          font-weight: bold;
        }
      }
      span.arrow {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        height: 35px;
        width: 35px;

        background: $light-purple;
        padding: 3px;
        transform: rotate(0);
        transition: transform 0.3s;
      }
    }
  }

  .no-task-item {
    margin: 10% auto;
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    h2 {
      font-weight: bold;
      font-size: 1.8rem;
      color: $side-color;
      margin: 0;
    }
    .sub-text {
      font-size: 1.3rem;
      margin: 0;
      opacity: 0.5;
    }
  }
  .no-todo-item {
    @extend .no-task-item;

    .create-todo {
      padding: 15px 20px;
      border-width: 2px;
      border-color: $side-color;
      border-radius: 2px;
      background: none;
      outline: none;
      color: $side-color;
      font-size: 2rem;
      font-family: $task-font;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background: $side-color;
        color: $task-name-color;
      }
    }
  }
  .add-item-cont {
    @include flex(center, center);
    width: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
    .add-item {
      width: $todo-width;
      background: $bar;
      padding: 15px;
      border-radius: 5px;
      color: $todo;
      position: relative;
      box-sizing: border-box;
      @include flex(center, space-around);

      span.material-icons {
        cursor: pointer;

        margin: 0 5px 0 0;
        &:hover {
          border-radius: 50%;
          background: $side-color;
          color: $main-color;
        }
      }

      input[type="text"] {
        font-family: inherit;
        background: none;
        border: none;
        font-size: 20px;
        outline: none;
        flex-grow: 12;
      }
    }
  }

  .todos-cont {
    font-family: $task-font;
    align-items: start;
    grid-column: 2/3;
    grid-row: 2/3;
    gap: 20px;
    height: 100%;
    .item-cont {
      width: $todo-width;
      margin-top: 20px;
      &:hover .top,
      &:hover .expanded-cont {
        box-shadow: 5px 5px 0 rgba(63, 63, 68, 0.3);
        transform: scale(1.01);
        transition: 0.5s ease;
      }
      .top {
        background: $bar;
        padding: 15px;
        color: $todo;

        @include flex(center, space-around);
        box-shadow: none;
        width: 100%;
        height: 60px;
        justify-content: space-between;
        margin-bottom: 0;
        border-radius: 3px 3px 0 0;
        position: relative;
        input[type="text"] {
          font-family: inherit;
          background: none;
          border: none;
          font-size: 20px;
          outline: none;
          width: 100%;
        }
        .priority-flag {
          height: 60px;
          width: 7px;
          position: absolute;
          left: 0;
          top: 0;
        }
        label {
          width: 18px;
          height: 18px;
          position: relative;
          z-index: 2;
          cursor: pointer;
          margin-right: 10px;
        }
        .checkbox {
          position: absolute;
          opacity: 0;
          z-index: -1;
          &:not(:checked) ~ .no-check {
            position: absolute;
            width: 20px;
            height: 20px;
            border: 2px solid $success;
            border-radius: 3px;
            box-sizing: border-box;
          }
          &:checked ~ .check {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            box-sizing: border-box;
            background: $success;
            @include flex(center, center);
            &::after {
              content: "✔";
              font-size: 1.3rem;
              color: $light-color;
            }
          }
          &:checked ~ .check ~ .item {
            text-decoration: line-through;
          }
        }
        .item {
          margin: 0;
          font-size: 20px;
          color: $todo;
          font-weight: 400;
        }
        button.expand {
          margin-left: auto;
          background: none;
          outline: none;
          border: none;
          height: 30px;
          @include flex(center, center);
          border-radius: 3px;

          &:hover {
            background: $main-color;
          }
          div {
            width: 24px;
            height: 24px;
            transform: rotate(0);
            transition: transform 0.5s;
          }
        }
      }
      .expanded-cont {
        width: 100%;
        display: grid;
        grid-template-rows: 5% 70% 20%;
        grid-template-columns: 2.5% 30% 5% 60% 2.5%;
        position: relative;
        background: $bar;
        color: $todo;
        border-radius: 0 0 3px 3px;
        border-top: 1px solid #bbbb;
        opacity: 0;
        height: 0;
        visibility: hidden;
        transition: opacity 0.3s 0.26s, visibility 0.3s 0.26s, height 0.3s 0.25s;
        transition-timing-function: $timing;

        .date-priority-cont {
          grid-column: 2/3;
          grid-row: 2/3;
          @include flex(flex-start, flex-start);
          flex-direction: column;
          width: 100%;
          .date-cont {
            width: 100%;
            height: 100%;
            @include flex(flex-start, flex-start);
            flex-direction: column;
            label {
              font-size: 16px;
              font-weight: bold;
            }
            input[type="date"],
            .date {
              width: 100%;
              height: 30px;
              border: none;
              border-radius: 5px;
              background: #edeef7;
              outline: none;
              font-size: 16px;
              color: $side-color;
              margin-bottom: 20px;
            }
          }
          .priority-cont {
            @extend .date-cont;

            select {
              @extend .date;
            }
            option {
              &[value="None"][disabled] {
                display: none;
              }
            }
          }
        }
        .details-cont {
          grid-column: 4/5;
          grid-row: 2/3;
          width: 100%;
          @include flex(flex-start, center);
          flex-direction: column;

          label {
            font-size: 16px;
            font-weight: bold;
          }
          textarea {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            resize: none;
            background: #edeef7;
            border: none;
            border-radius: 5px;
            padding: 10px;
            font-size: 16px;
          }
        }
      }
    }

    // expanded
  }
  .clear {
    grid-column: 2/3;
    grid-row: 4/5;
    .clear-done {
      padding: 7px 30px;
      border-radius: 100px;
      border: 1px solid $clear;
      background: none;
      color: $clear;
      outline: none;
      position: relative;
      cursor: pointer;
      .tooltip-text {
        visibility: hidden;
        background: $side-color;
        padding: 5px;
        border-radius: 3px;
        width: 100%;
        position: absolute;
        top: 125%;
        left: 50%;
        transform: translate(-50%, 0);
        &::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -6px;
          border-width: 6px;
          border-style: solid;
          border-color: transparent transparent $side-color transparent;
        }
      }
      &:hover {
        background: $clear;
        color: $main-color;
        & .tooltip-text {
          visibility: visible;
        }
      }
    }
    .delete-all {
      @extend .clear-done;
      margin-left: 20px;
      border-color: $danger;
      color: $danger;

      &:hover {
        background: $danger;
      }
    }
  }
}

//top bar
.title-cont {
  height: 10vh;
  background-color: $main-color;
  .menu {
    display: none;
  }
  .title {
    font-family: $main-font !important;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: $side-color;
    margin: 0 20px;
    text-transform: uppercase;
  }
}

//for resuse in other components //
.btn-save-del {
  grid-column: 2/5;
  grid-row: 3/4;
  flex: 0 1 100%;
  @include flex(center, flex-end);
  .del {
    align-self: flex-end;
    @include flex(center, center);
    padding: 7px 15px;
    margin-right: 0;
    background: none;
    border: 1px solid $danger;
    outline: none;
    font-family: inherit;
    border-radius: 100px;
    color: $danger;

    &:hover {
      background: $danger;
      color: $task-name-color;
    }
    span {
      font-size: 18px;
    }
  }
  .save {
    @extend .del;
    color: $success;
    border: 1px solid $success;
    margin-right: 10px;
    &:hover {
      background: $success;
    }
  }
}
.blur-modal-bg {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  z-index: 299;
}

/////

// side clock
.side-menu {
  min-height: 100vh;
  background: $side-color;
  padding: 20px 0;
  color: $main-color;
  font-family: $time-font;
  width: $side-width;
  box-shadow: -5px 0px 0px 0px #675f905d, 5px 0px 0px 0px #675f905d;
  z-index: 2;
  .time-container {
    padding: 0 10px;
    @include flex(center, flex-end);
    flex-direction: column;
    .time {
      @include flex(inherit, inherit);
      h1 {
        display: inline-block;
        font-size: 80px;
        text-transform: uppercase;
        margin: 0;
        line-height: 70px;
        font-weight: 300;
      }
      span {
        align-self: flex-start;
        display: inline-block;
        font-size: 40px;
        line-height: 40px;
      }
    }
    h2 {
      font-size: 35px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }
    h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 30px;
      margin: 0;
    }
  }
}

.side-nav {
  margin: 50px 0 0 0;
  position: relative;
  right: 0;
  ul {
    @include flex(center, center);
    flex-direction: column;
    padding: 0;
    li {
      list-style-type: none;
      width: 100%;
      margin: 0 0 20px 0;
      text-align: left;
      padding: 5px 0 5px 10px;
      box-sizing: content-box;
      &:hover {
        background: $main-color;

        a {
          color: $side-color;
        }
      }

      &:first-child,
      &:nth-child(3) {
        font-size: 30px;
        line-height: 30px;
        font-weight: bold;

        &:hover {
          color: $side-color;
          background: #b8b5ff;
        }
      }

      a {
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
        color: $main-color;
        font-weight: bold;
        line-height: 30px;
        width: 100%;
      }
    }

    .task-list-cont {
      textarea {
        font-size: 23px;
        font-family: $task-font;
        overflow: hidden;
        height: 25px;
        width: 85%;
        outline: none;
        border: none;
        border-bottom: 2px solid $main-color;
        background: none;
        color: $task-name-color;
        margin: 15px 0 20px 0;
        resize: none;
        &::placeholder {
          color: $light-color;
          opacity: 0.7;
          font-family: inherit;
        }
      }
      ul.task-list {
        margin: 0;
        padding: 0;

        li.task-names {
          padding: 0 10px 0 0;
          width: 90%;
          border-radius: 5px;
          list-style-type: none;
          margin: 0;
          font-size: 1.2vmax;
          font-family: $task-font;
          font-weight: 200;
          color: $task-name-color;
          margin-bottom: 5px;
          position: relative;
          @include flex(center, space-around);
          a.task-name-link {
            text-decoration: none;
            font-size: 23px;
            font-weight: 400;
            color: $task-name-color;
            display: inline-block;
            width: 80%;
            order: 2;
          }
          &:hover {
            background: $task-name-color;
            color: $side-color;
            width: 90%;
            a {
              color: $side-color;
            }

            span.x-icon {
              visibility: visible;
              opacity: 0.5;
              font-weight: bold;
              cursor: pointer;
              &:hover {
                opacity: 1;
              }
            }
            span.fa-pencil-alt {
              @extend span.x-icon;
              // left: 15%;
            }
          }
          span.x-icon {
            visibility: hidden;
            order: 1;
          }
          .todo-num {
            font-size: 13px;
            order: 3;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.notes {
  background: $main-color;
  width: $main-width;
  box-sizing: border-box;
  font-family: $task-font;
  min-height: 90vh;
  overflow: hidden;
  .note-main-title {
    font-family: $main-font;
    font-size: 80px;
    line-height: 70px;
    text-align: left;
    color: $side-color;
    margin: 0 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .create-note {
    @include flex(center, center);
    margin-top: 3%;
    button {
      @include flex(center, center);
      padding: 7px 15px;
      border-radius: 100px;
      border: 1px solid $clear;
      background: $clear;
      color: $light-color;
      outline: none;
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        background: #065380;
      }
    }
  }
  .main-container {
    position: relative;
    height: 70vh;
    width: 100%;
    .grid-container {
      height: inherit;
      margin: 5%;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-top: 10px;
      @include flex(flex-start, flex-start);
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 10px;
      .col {
        flex: 1 0 32%;
        width: 300px;
        gap: 10px;
      }

      .col-0 {
        @include flex(center, stretch);
        flex-flow: column wrap;
      }
      .col-1 {
        @include flex(center, stretch);
        flex-flow: column wrap;
      }
      .col-2 {
        @include flex(center, stretch);
        flex-flow: column wrap;
      }
    }
  }
}
//separated so that it can be applied
.note-cont {
  width: 95%;
  word-wrap: break-word;
  position: relative;
  background: $notepad;
  padding: 25px 20px 20px;
  margin: 5px;
  font-size: 1.3vmax;
  color: #161304;
  transition: 0.5s ease;
  &:hover {
    box-shadow: 7px 7px 4px rgba(63, 63, 68, 0.4);
    transform: scale(1.05);
    transition: 0.5s ease;
  }
  .delete-note {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    span.delete {
      transform: rotate(0deg) translate(5px, -10px);
      font-size: 30px !important;
      cursor: pointer;
      -webkit-text-stroke: $side-color 1px;
      &:hover {
        transform: rotate(-35deg) translate(5px, -20px);
        transition: 0.3s ease;
      }
    }
  }
  .note-title {
    text-align: left;
    outline: none;
    min-height: 28px;
    display: inline-block;
    width: 100%;
  }
  .note-details {
    @extend .note-title;
    margin-top: 20px;
  }
}

//scrollbar
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $side-color;
  border-radius: 100px;
}

// modal
.bg-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 50;
  background: rgba(63, 63, 68, 0.5);
  .modal {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    width: 50%;
    border-radius: 5px;
    background: $light-color;
    margin: auto;
    padding: 45px 45px 20px 45px;
    position: relative;
    box-shadow: 10px 10px 4px rgba(63, 63, 68, 0.6);
    .exit {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
      button {
        border: none;
        background: none;
        font-weight: bold;
        color: $danger;
        transform: scale(1);
        outline: none;
        cursor: pointer;
        &:hover span {
          transform: scale(1.1);
          transition: transform 0.5s ease;
        }
      }
    }
    .save {
      width: 100%;
      margin-top: 10px;

      button {
        margin: auto;
        background: none;
        border: 1px solid $add;
        color: $add;
        border-radius: 100px;
        padding: 5px 10px;
        outline: none;
        font-size: 1vmax;
        cursor: pointer;
        @include flex(center, center);
        &:hover {
          background: $add;
          color: $light-color;
          transform: scale(1.05);
        }
      }
    }
    .modal-note-title {
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      @include flex(flex-start, space-between);
      border-bottom: 1px solid $main-color;

      input[type="text"] {
        width: 100%;
        outline: none;
        border: none;
        background: none;
        font-family: $task-font;
        font-size: 1.2vmax;
        padding: 5px 0;
      }
    }
    .modal-note-details {
      width: 100%;
      textarea {
        width: 100%;
        resize: none;
        box-sizing: border-box;
        background: none;
        outline: none;
        font-family: $task-font;
        font-size: 1.2vmax;
        border: none;
        padding: 5px 0;
      }
    }
  }
}

//additional classes
.active {
  background: #b8b5ff;
  color: $side-color !important;
}

.notes-tag {
  color: $side-color !important;
}

.Low {
  background: $low;
}

.Medium {
  background: $warning;
}

.High {
  background: $danger;
}

//animation classes
.show-menu {
  top: 0 !important;
  width: 300px !important;
  opacity: 1 !important;
  transition: opacity 0.5s $timing, width 0.5s $timing !important;
}

.expanding {
  opacity: 1 !important;
  visibility: visible !important;
  height: 267px !important;
}

.rotating {
  transform: rotate(180deg) !important;
}

.deleting {
  opacity: 0 !important;
  animation: deleting 0.2s $timing forwards !important;
}

.appear {
  animation: appear 0.5s $timing forwards !important;
}

.done {
  animation: done 0.5s $timing forwards !important;
}

.shrink {
  animation: shrink 0.5s 0.2s $timing forwards !important;
}

.hidden {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
  transform: scale(0);
}

.show-note {
  animation: show 0.4s $timing forwards;
}

.remove-note {
  animation: hide 0.4s $timing forwards;
}

// keyframes

@keyframes show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes hide {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes shrink {
  from {
    height: 347px;
  }
  to {
    height: 0;
  }
}

@keyframes appear {
  from {
    transform: translate(0, 30px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes deleting {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes done {
  0% {
    height: 81px;
  }
  100% {
    height: 0px;
  }
}

@keyframes down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(9px) rotate(45deg);
  }
}

@keyframes up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-9px);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes gone {
  100% {
    transform: scale(0);
  }
}

// unchecked
@keyframes rev-up {
  0% {
    transform: translateY(9px) rotate(45deg);
  }
  50% {
    transform: translateY(9px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes rev-down {
  0% {
    transform: translateY(-9px) rotate(135deg);
  }
  50% {
    transform: translateY(-9px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes rev-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1100px) {
  .side-menu {
    width: 27%;
  }
  .main {
    grid-template-columns: 7% auto 7%;
  }
}

@media (max-width: 800px) {
  .main {
    width: 100%;
    min-height: 92vh;
  }
  label,
  option,
  select,
  input[type="date"],
  .details-cont textarea,
  .note-title,
  .note-details {
    font-size: 18px !important;
  }

  h4 {
    opacity: 1 !important;
    color: rgba(63, 63, 68, 0.6) !important;
  }

  .task-list-cont textarea {
    font-size: 1.2rem !important;
    padding: 10px;
  }

  .notes-tag,
  .task-name-link {
    font-size: 1.6rem !important;
    line-height: 2rem !important;
  }

  .side-menu {
    opacity: 0;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 70px;
    z-index: 10;
    background: $side-color;
    transition: opacity 0.5s $timing, width 0.5s $timing, top 0.1s 0.4s $timing;
  }

  .grid-container {
    justify-content: space-between !important;
  }

  .todos-cont {
    padding-top: 7% !important;
  }

  //top bar
  .title-cont {
    background: $side-color;
    height: 8vh;
    width: 100%;
    position: relative;
    padding-left: 20px;
    box-shadow: 0px 3px 0px #675f905d;
    @include flex(center, flex-start);
    .menu {
      display: inline-block;
      width: 30px;
      height: 30px;
      position: relative;
      z-index: 100;
      .burger-check {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        margin: 0;
        opacity: 0;
        outline: none;
        cursor: pointer;
        &:checked {
          & ~ .burger div:nth-child(1) {
            animation: down 0.5s $timing forwards;
          }
          & ~ .burger div:nth-child(2) {
            animation: gone 0.5s $timing forwards;
          }
          & ~ .burger div:nth-child(3) {
            animation: up 0.5s $timing forwards;
          }
        }

        &:not(:checked) {
          & ~ .burger div:nth-child(1) {
            animation: rev-up 0.5s $timing forwards;
          }
          & ~ .burger div:nth-child(2) {
            animation: rev-appear 0.5s $timing forwards;
          }
          & ~ .burger div:nth-child(3) {
            animation: rev-down 0.5s $timing forwards;
          }
        }
      }
      .burger {
        .bar {
          width: 30px;
          height: 3px;
          position: relative;
          margin: 6px auto 0;
          border-radius: 50px;
          background: $main-color;
        }
      }
    }
    h1.title,
    h1.note-main-title {
      display: inline-block;
      color: $main-color;
    }
  }
}

@media (max-width: 600px) {
  .grid-container .col {
    flex: 1 0 auto !important;
  }

  h1.title {
    font-size: 3rem !important;
  }
}
