@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Saira+Condensed:wght@300&family=Rajdhani:wght@300&display=swap");
body,
html {
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  min-height: 100%;
  padding: 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  height: 100%;
  position: relative !important;
  overflow-y: hidden;
}

.main, .notes {
  background: #edeef7;
  width: 100%;
  padding: 20px 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
}

.main .title-cont .menu, .notes .title-cont .menu {
  display: none;
}

.main .title-cont .title, .notes .title-cont .title {
  font-family: "Saira Condensed", sans-serif !important;
  font-size: 70px;
  line-height: 60px;
  text-align: left;
  color: #7868e6;
  margin: 0 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.main hr, .notes hr {
  border: none;
  border-bottom: 1px solid #7868e6;
  margin: 3px 0 0 20px;
}

.main .no-task-item, .notes .no-task-item, .main .no-todo-item, .notes .no-todo-item {
  margin: 250px auto;
  width: 80%;
}

.main .no-task-item h2, .notes .no-task-item h2, .main .no-todo-item h2, .notes .no-todo-item h2 {
  font-weight: bold;
  font-size: 1.8rem;
  color: #7868e6;
}

.main .no-task-item .sub-text, .notes .no-task-item .sub-text, .main .no-todo-item .sub-text, .notes .no-todo-item .sub-text {
  font-size: 1.3rem;
  margin: 0;
  opacity: 0.5;
}

.main .no-todo-item .create-todo, .notes .no-todo-item .create-todo {
  padding: 15px 20px;
  border-width: 2px;
  border-color: #7868e6;
  border-radius: 2px;
  background: none;
  outline: none;
  color: #7868e6;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.main .no-todo-item .create-todo:hover, .notes .no-todo-item .create-todo:hover {
  background: #7868e6;
  color: #f6f6f6;
}

.main .add-item, .notes .add-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
}

.main .add-item .add-item-cont, .notes .add-item .add-item-cont {
  width: 60%;
  background: #ffff;
  padding: 15px;
  border-radius: 5px;
  color: #7868e6;
  margin-top: 20px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .add-item .add-item-cont span.material-icons, .notes .add-item .add-item-cont span.material-icons {
  cursor: pointer;
  margin: 0 5px 0 0;
}

.main .add-item .add-item-cont span.material-icons:hover, .notes .add-item .add-item-cont span.material-icons:hover {
  border-radius: 50%;
  background: #7868e6;
  color: #edeef7;
}

.main .add-item .add-item-cont input[type="text"], .notes .add-item .add-item-cont input[type="text"] {
  font-family: inherit;
  background: none;
  border: none;
  font-size: 20px;
  outline: none;
  -webkit-box-flex: 12;
      -ms-flex-positive: 12;
          flex-grow: 12;
}

.main .sort, .notes .sort {
  width: 60%;
  height: 40px;
  text-align: center;
  margin: auto;
  color: #7868e6;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .sort select, .notes .sort select {
  margin-left: 5px;
  background: #b8b5ff;
  border: none;
  height: 24px;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 16px;
  color: #edeef7;
}

.main .sort select option, .notes .sort select option {
  font-size: 16px;
}

.main .todos-cont, .notes .todos-cont {
  font-family: "Nunito", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  margin-top: 10px;
}

.main .todos-cont .item-cont, .notes .todos-cont .item-cont {
  width: 60%;
}

.main .todos-cont .item-cont:hover .top, .notes .todos-cont .item-cont:hover .top,
.main .todos-cont .item-cont:hover .expanded-cont,
.notes .todos-cont .item-cont:hover .expanded-cont {
  -webkit-box-shadow: 5px 5px 0 rgba(63, 63, 68, 0.3);
          box-shadow: 5px 5px 0 rgba(63, 63, 68, 0.3);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.main .todos-cont .item-cont .top, .notes .todos-cont .item-cont .top {
  background: #ffff;
  padding: 15px;
  color: #7868e6;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
  border-radius: 3px 3px 0 0;
  position: relative;
}

.main .todos-cont .item-cont .top input[type="text"], .notes .todos-cont .item-cont .top input[type="text"] {
  font-family: inherit;
  background: none;
  border: none;
  font-size: 20px;
  outline: none;
  width: 100%;
}

.main .todos-cont .item-cont .top .priority-flag, .notes .todos-cont .item-cont .top .priority-flag {
  height: 60px;
  width: 7px;
  position: absolute;
  left: 0;
  top: 0;
}

.main .todos-cont .item-cont .top label, .notes .todos-cont .item-cont .top label {
  width: 18px;
  height: 18px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-right: 10px;
}

.main .todos-cont .item-cont .top .checkbox, .notes .todos-cont .item-cont .top .checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.main .todos-cont .item-cont .top .checkbox:not(:checked) ~ .no-check, .notes .todos-cont .item-cont .top .checkbox:not(:checked) ~ .no-check {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #61b15a;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .todos-cont .item-cont .top .checkbox:checked ~ .check, .notes .todos-cont .item-cont .top .checkbox:checked ~ .check {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #61b15a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .todos-cont .item-cont .top .checkbox:checked ~ .check::after, .notes .todos-cont .item-cont .top .checkbox:checked ~ .check::after {
  content: "✔";
  font-size: 1.3rem;
  color: #ffff;
}

.main .todos-cont .item-cont .top .checkbox:checked ~ .check ~ .item, .notes .todos-cont .item-cont .top .checkbox:checked ~ .check ~ .item {
  text-decoration: line-through;
}

.main .todos-cont .item-cont .top .item, .notes .todos-cont .item-cont .top .item {
  margin: 0;
  font-size: 20px;
  color: #7868e6;
  font-weight: 400;
}

.main .todos-cont .item-cont .top button.expand, .notes .todos-cont .item-cont .top button.expand {
  margin-left: auto;
  background: none;
  outline: none;
  border: none;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}

.main .todos-cont .item-cont .top button.expand:hover, .notes .todos-cont .item-cont .top button.expand:hover {
  background: #edeef7;
}

.main .todos-cont .item-cont .top button.expand div, .notes .todos-cont .item-cont .top button.expand div {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.main .todos-cont .item-cont .expanded-cont, .notes .todos-cont .item-cont .expanded-cont {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5% 70% 20%;
      grid-template-rows: 5% 70% 20%;
  -ms-grid-columns: 2.5% 30% 5% 60% 2.5%;
      grid-template-columns: 2.5% 30% 5% 60% 2.5%;
  position: relative;
  background: #ffff;
  color: #7868e6;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #bbbb;
  opacity: 0;
  height: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0.26s, visibility 0.3s 0.26s, height 0.3s 0.25s;
  transition: opacity 0.3s 0.26s, visibility 0.3s 0.26s, height 0.3s 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.97, 0, 0.97);
          transition-timing-function: cubic-bezier(0.39, 0.97, 0, 0.97);
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont, .notes .todos-cont .item-cont .expanded-cont .date-priority-cont {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont, .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont, .main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont, .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont label, .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont label, .main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont label, .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont label {
  font-size: 16px;
  font-weight: bold;
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont input[type="date"], .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont input[type="date"], .main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont input[type="date"], .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont input[type="date"],
.main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont .date,
.notes .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont .date,
.main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont .date,
.notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont .date,
.main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont .priority-cont select,
.main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont .date-cont select,
.main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont select,
.notes .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont .priority-cont select,
.notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont .date-cont select,
.main .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont select,
.notes .main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont select,
.notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont select {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  background: #edeef7;
  outline: none;
  font-size: 16px;
  color: #7868e6;
  margin-bottom: 20px;
}

.main .todos-cont .item-cont .expanded-cont .details-cont, .notes .todos-cont .item-cont .expanded-cont .details-cont {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .todos-cont .item-cont .expanded-cont .details-cont label, .notes .todos-cont .item-cont .expanded-cont .details-cont label {
  font-size: 16px;
  font-weight: bold;
}

.main .todos-cont .item-cont .expanded-cont .details-cont textarea, .notes .todos-cont .item-cont .expanded-cont .details-cont textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  resize: none;
  background: #edeef7;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del, .notes .todos-cont .item-cont .expanded-cont .btn-save-del {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del .del, .notes .todos-cont .item-cont .expanded-cont .btn-save-del .del {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px 15px;
  margin-right: 0;
  background: none;
  border: 1px solid #e7305b;
  outline: none;
  font-family: inherit;
  border-radius: 100px;
  color: #e7305b;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del .del:hover, .notes .todos-cont .item-cont .expanded-cont .btn-save-del .del:hover {
  background: #e7305b;
  color: #f6f6f6;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del .del span, .notes .todos-cont .item-cont .expanded-cont .btn-save-del .del span {
  font-size: 18px;
}

.main .clear, .notes .clear {
  margin: 30px 0 0 0;
}

.main .clear .clear-done, .notes .clear .clear-done, .main .clear .delete-all, .notes .clear .delete-all {
  padding: 7px 30px;
  border-radius: 100px;
  border: 1px solid #07689f;
  background: none;
  color: #07689f;
  outline: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  position: relative;
  cursor: pointer;
}

.main .clear .clear-done .tooltip-text, .notes .clear .clear-done .tooltip-text, .main .clear .delete-all .tooltip-text, .notes .clear .delete-all .tooltip-text {
  visibility: hidden;
  background: #7868e6;
  padding: 5px;
  border-radius: 3px;
  width: 100%;
  position: absolute;
  top: 125%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.main .clear .clear-done .tooltip-text::after, .notes .clear .clear-done .tooltip-text::after, .main .clear .delete-all .tooltip-text::after, .notes .clear .delete-all .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #7868e6 transparent;
}

.main .clear .clear-done:hover, .notes .clear .clear-done:hover, .main .clear .delete-all:hover, .notes .clear .delete-all:hover {
  background: #07689f;
  color: #edeef7;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.main .clear .clear-done:hover .tooltip-text, .notes .clear .clear-done:hover .tooltip-text, .main .clear .delete-all:hover .tooltip-text, .notes .clear .delete-all:hover .tooltip-text {
  visibility: visible;
}

.main .clear .delete-all, .notes .clear .delete-all {
  margin-left: 20px;
  border-color: #e7305b;
  color: #e7305b;
}

.main .clear .delete-all:hover, .notes .clear .delete-all:hover {
  background: #e7305b;
}

.side-menu {
  min-height: 100vh;
  background: #7868e6;
  padding: 20px 0;
  color: #edeef7;
  font-family: "Rajdhani", sans-serif;
  width: 23%;
}

.side-menu .time-container {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-menu .time-container .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.side-menu .time-container .time h1 {
  display: inline-block;
  font-size: 80px;
  text-transform: uppercase;
  margin: 0;
  line-height: 70px;
  font-weight: 300;
}

.side-menu .time-container .time span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
}

.side-menu .time-container h2 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.side-menu .time-container h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.side-nav {
  margin: 50px 0 0 0;
  position: relative;
  right: 0;
}

.side-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.side-nav ul li {
  list-style-type: none;
  width: 100%;
  margin: 0 0 20px 0;
  text-align: left;
  padding: 5px 0 5px 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.side-nav ul li:hover {
  background: #edeef7;
}

.side-nav ul li:hover a {
  color: #7868e6;
}

.side-nav ul li:first-child, .side-nav ul li:nth-child(3) {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.side-nav ul li:first-child:hover, .side-nav ul li:nth-child(3):hover {
  color: #7868e6;
  background: #b8b5ff;
}

.side-nav ul li a {
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  color: #edeef7;
  font-weight: bold;
  line-height: 30px;
  width: 100%;
}

.side-nav ul .task-list-cont textarea {
  font-size: 23px;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
  height: 25px;
  width: 85%;
  outline: none;
  border: none;
  border-bottom: 2px solid #edeef7;
  background: none;
  color: #f6f6f6;
  margin: 15px 0 20px 0;
  resize: none;
}

.side-nav ul .task-list-cont textarea::-webkit-input-placeholder {
  color: #ffff;
  opacity: 0.7;
  font-family: inherit;
}

.side-nav ul .task-list-cont textarea:-ms-input-placeholder {
  color: #ffff;
  opacity: 0.7;
  font-family: inherit;
}

.side-nav ul .task-list-cont textarea::-ms-input-placeholder {
  color: #ffff;
  opacity: 0.7;
  font-family: inherit;
}

.side-nav ul .task-list-cont textarea::placeholder {
  color: #ffff;
  opacity: 0.7;
  font-family: inherit;
}

.side-nav ul .task-list-cont ul.task-list {
  margin: 0;
  padding: 0;
}

.side-nav ul .task-list-cont ul.task-list li.task-names {
  padding: 0 10px 0 0;
  width: 90%;
  border-radius: 5px;
  list-style-type: none;
  margin: 0;
  font-size: 1.2vmax;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  color: #f6f6f6;
  margin-bottom: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.side-nav ul .task-list-cont ul.task-list li.task-names a.task-name-link {
  text-decoration: none;
  font-size: 23px;
  font-weight: 400;
  color: #f6f6f6;
  display: inline-block;
  width: 80%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.side-nav ul .task-list-cont ul.task-list li.task-names:hover {
  background: #f6f6f6;
  color: #7868e6;
  width: 90%;
}

.side-nav ul .task-list-cont ul.task-list li.task-names:hover a {
  color: #7868e6;
}

.side-nav ul .task-list-cont ul.task-list li.task-names:hover span.x-icon, .side-nav ul .task-list-cont ul.task-list li.task-names:hover span.fa-pencil-alt {
  visibility: visible;
  opacity: 0.5;
  font-weight: bold;
  cursor: pointer;
}

.side-nav ul .task-list-cont ul.task-list li.task-names:hover span.x-icon:hover, .side-nav ul .task-list-cont ul.task-list li.task-names:hover span.fa-pencil-alt:hover {
  opacity: 1;
}

.side-nav ul .task-list-cont ul.task-list li.task-names span.x-icon, .side-nav ul .task-list-cont ul.task-list li.task-names:hover span.fa-pencil-alt {
  visibility: hidden;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.side-nav ul .task-list-cont ul.task-list li.task-names .todo-num {
  font-size: 13px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-weight: bold;
}

.notes {
  padding: 20px 0;
  height: 100vh;
  min-height: 0;
  overflow: hidden;
}

.notes .note-main-title {
  font-family: "Saira Condensed", sans-serif;
  font-size: 80px;
  line-height: 70px;
  text-align: left;
  color: #7868e6;
  margin: 0 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.notes .create-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.notes .create-note button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px 15px;
  border-radius: 100px;
  border: 1px solid #07689f;
  background: #07689f;
  color: #ffff;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}

.notes .create-note button:hover {
  background: #065380;
}

.notes .main-container .grid-container {
  height: 70vh;
  margin: 40px;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.notes .main-container .grid-container .col {
  min-width: 30%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.notes .main-container .grid-container .col-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.notes .main-container .grid-container .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.notes .main-container .grid-container .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.note-cont {
  width: 100%;
  word-wrap: break-word;
  position: relative;
  background: #ffe268;
  padding: 25px 20px 20px;
  margin-top: 30px;
  font-size: 1.3vmax;
  color: #7868e6;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.note-cont:hover {
  -webkit-box-shadow: 7px 7px 4px rgba(63, 63, 68, 0.4);
          box-shadow: 7px 7px 4px rgba(63, 63, 68, 0.4);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.note-cont .delete-note {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 24px;
}

.note-cont .delete-note span {
  -webkit-transform: rotate(-35deg) translate(5px, -10px);
          transform: rotate(-35deg) translate(5px, -10px);
  font-size: 40px !important;
  color: #e7305b;
  cursor: pointer;
}

.note-cont .delete-note span:hover {
  -webkit-transform: rotate(-35deg) translate(5px, -20px);
          transform: rotate(-35deg) translate(5px, -20px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.note-cont .note-title, .note-cont .note-details {
  text-align: left;
  outline: none;
  min-height: 28px;
  display: inline-block;
  width: 100%;
}

.note-cont .note-details {
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7868e6;
  border-radius: 100px;
}

.bg-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 50;
  background: rgba(63, 63, 68, 0.5);
}

.bg-modal .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  border-radius: 5px;
  background: #ffff;
  margin: auto;
  padding: 45px 45px 20px 45px;
  position: relative;
  -webkit-box-shadow: 10px 10px 4px rgba(63, 63, 68, 0.6);
          box-shadow: 10px 10px 4px rgba(63, 63, 68, 0.6);
}

.bg-modal .modal .exit {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.bg-modal .modal .exit button {
  border: none;
  background: none;
  font-weight: bold;
  color: #e7305b;
  -webkit-transform: scale(1);
          transform: scale(1);
  outline: none;
  cursor: pointer;
}

.bg-modal .modal .exit button:hover span {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.bg-modal .modal .save {
  width: 100%;
  margin-top: 10px;
}

.bg-modal .modal .save button {
  margin: auto;
  background: none;
  border: 1px solid #428b46;
  color: #428b46;
  border-radius: 100px;
  padding: 5px 10px;
  outline: none;
  font-size: 1vmax;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-modal .modal .save button:hover {
  background: #428b46;
  color: #ffff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.bg-modal .modal .modal-note-title {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #edeef7;
}

.bg-modal .modal .modal-note-title input[type="text"] {
  width: 100%;
  outline: none;
  border: none;
  background: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.2vmax;
  padding: 5px 0;
}

.bg-modal .modal .modal-note-details {
  width: 100%;
}

.bg-modal .modal .modal-note-details textarea {
  width: 100%;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.2vmax;
  border: none;
  padding: 5px 0;
}

.active {
  background: #b8b5ff;
  color: #7868e6 !important;
}

.notes-tag {
  color: #7868e6 !important;
}

.Low {
  background: #2978b5;
}

.Medium {
  background: #f57b51;
}

.High {
  background: #e7305b;
}

.show-menu {
  top: 10vh !important;
  width: 300px !important;
  opacity: 1 !important;
  -webkit-transition: opacity 0.5s cubic-bezier(0.39, 0.97, 0, 0.97), width 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) !important;
  transition: opacity 0.5s cubic-bezier(0.39, 0.97, 0, 0.97), width 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) !important;
}

.expanding {
  opacity: 1 !important;
  visibility: visible !important;
  height: 267px !important;
}

.rotating {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.deleting {
  -webkit-animation: deleting 0.3s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
          animation: deleting 0.3s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
}

.appear {
  -webkit-animation: appear 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
          animation: appear 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
}

.done {
  -webkit-animation: done 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
          animation: done 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
}

.shrink {
  -webkit-animation: shrink 0.3s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
          animation: shrink 0.3s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
}

.hidden {
  display: none !important;
}

.visibility {
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.show-note {
  -webkit-animation: show 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
          animation: show 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
}

.remove-note {
  -webkit-animation: hide 0.3s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
          animation: hide 0.3s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
}

@-webkit-keyframes show {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes hide {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes hide {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes shrink {
  from {
    height: 347px;
  }
  to {
    height: 0;
  }
}

@keyframes shrink {
  from {
    height: 347px;
  }
  to {
    height: 0;
  }
}

@-webkit-keyframes appear {
  from {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes deleting {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes deleting {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes done {
  0% {
    height: 81px;
  }
  100% {
    height: 0px;
  }
}

@keyframes done {
  0% {
    height: 81px;
  }
  100% {
    height: 0px;
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes gone {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes gone {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes rev-up {
  0% {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes rev-up {
  0% {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes rev-down {
  0% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
  50% {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes rev-down {
  0% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
  50% {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes rev-appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes rev-appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 1200px) {
  .main, .notes {
    width: 74%;
  }
  .side-menu {
    width: 26%;
  }
  .item-cont,
  .add-item-cont {
    width: 80% !important;
  }
}

@media (max-width: 800px) {
  .main, .notes {
    width: 100%;
  }
  label,
  option,
  select,
  input[type="date"],
  .details-cont textarea,
  .note-title,
  .note-cont .note-details,
  .note-details {
    font-size: 18px !important;
  }
  h4 {
    opacity: 1 !important;
    color: rgba(63, 63, 68, 0.6) !important;
  }
  .task-list-cont textarea {
    font-size: 1.2rem !important;
    padding: 10px;
  }
  .notes-tag,
  .task-name-link {
    font-size: 1.6rem !important;
    line-height: 2rem !important;
  }
  .side-menu {
    opacity: 0;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: #7868e6;
    -webkit-transition: opacity 0.5s cubic-bezier(0.39, 0.97, 0, 0.97), width 0.5s cubic-bezier(0.39, 0.97, 0, 0.97), top 0.1s 0.4s cubic-bezier(0.39, 0.97, 0, 0.97);
    transition: opacity 0.5s cubic-bezier(0.39, 0.97, 0, 0.97), width 0.5s cubic-bezier(0.39, 0.97, 0, 0.97), top 0.1s 0.4s cubic-bezier(0.39, 0.97, 0, 0.97);
  }
  .main, .notes {
    padding-top: 0;
  }
  .main hr, .notes hr {
    display: none;
  }
  .main .title-cont, .notes .title-cont {
    background: #7868e6;
    height: 10vh;
    width: 100%;
    position: relative;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main .title-cont .menu, .notes .title-cont .menu {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 100;
  }
  .main .title-cont .menu .burger-check, .notes .title-cont .menu .burger-check {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    margin: 0;
    opacity: 0;
    outline: none;
    cursor: pointer;
  }
  .main .title-cont .menu .burger-check:checked ~ .burger div:nth-child(1), .notes .title-cont .menu .burger-check:checked ~ .burger div:nth-child(1) {
    -webkit-animation: down 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
            animation: down 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
  }
  .main .title-cont .menu .burger-check:checked ~ .burger div:nth-child(2), .notes .title-cont .menu .burger-check:checked ~ .burger div:nth-child(2) {
    -webkit-animation: gone 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
            animation: gone 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
  }
  .main .title-cont .menu .burger-check:checked ~ .burger div:nth-child(3), .notes .title-cont .menu .burger-check:checked ~ .burger div:nth-child(3) {
    -webkit-animation: up 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
            animation: up 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
  }
  .main .title-cont .menu .burger-check:not(:checked) ~ .burger div:nth-child(1), .notes .title-cont .menu .burger-check:not(:checked) ~ .burger div:nth-child(1) {
    -webkit-animation: rev-up 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
            animation: rev-up 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
  }
  .main .title-cont .menu .burger-check:not(:checked) ~ .burger div:nth-child(2), .notes .title-cont .menu .burger-check:not(:checked) ~ .burger div:nth-child(2) {
    -webkit-animation: rev-appear 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
            animation: rev-appear 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
  }
  .main .title-cont .menu .burger-check:not(:checked) ~ .burger div:nth-child(3), .notes .title-cont .menu .burger-check:not(:checked) ~ .burger div:nth-child(3) {
    -webkit-animation: rev-down 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
            animation: rev-down 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
  }
  .main .title-cont .menu .burger .bar, .notes .title-cont .menu .burger .bar {
    width: 30px;
    height: 4px;
    position: relative;
    margin: 5px auto 0;
    border-radius: 50px;
    background: #edeef7;
  }
  .main .title-cont h1.title, .notes .title-cont h1.title,
  .main .title-cont h1.note-main-title,
  .notes .title-cont h1.note-main-title {
    display: inline-block;
    color: #edeef7;
    font-size: 4rem;
  }
  .grid-container {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    padding-right: 20px;
  }
  .grid-container .col {
    width: 47%;
  }
  .item-cont,
  .add-item-cont {
    width: 85% !important;
  }
}
/*# sourceMappingURL=styles.css.map */